---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/155
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8915b88eeef7f4bc56ebd73250b17d0a
      X-Memc-Age:
      - '1611'
      X-Memc-Expires:
      - '24080'
      Etag:
      - W/"ec990e5b3a856e9e1e2be9f0f0b9b8c7"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/oOv2oUXcAaNXakRqUPxYq5lJURz.jpg","belongs_to_collection":{"id":263,"name":"The
        Dark Knight Collection","poster_path":"/ogyw5LTmL53dVxsppcy8Dlm30Fu.jpg","backdrop_path":"/xyhrCEdB4XRkelfVsqXeUZ6rLHi.jpg"},"budget":185000000,"genres":[{"id":18,"name":"Drama"},{"id":28,"name":"Action"},{"id":80,"name":"Crime"},{"id":53,"name":"Thriller"}],"homepage":"https://www.warnerbros.com/movies/dark-knight/","id":155,"imdb_id":"tt0468569","origin_country":["US"],"original_language":"en","original_title":"The
        Dark Knight","overview":"Batman raises the stakes in his war on crime. With
        the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets
        out to dismantle the remaining criminal organizations that plague the streets.
        The partnership proves to be effective, but they soon find themselves prey
        to a reign of chaos unleashed by a rising criminal mastermind known to the
        terrified citizens of Gotham as the Joker.","popularity":29.269,"poster_path":"/qJ2tW6WMUDux911r6m7haRef0WH.jpg","production_companies":[{"id":174,"logo_path":"/zhD3hhtKB5qyv7ZeL4uLpNxgMVU.png","name":"Warner
        Bros. Pictures","origin_country":"US"},{"id":923,"logo_path":"/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png","name":"Legendary
        Pictures","origin_country":"US"},{"id":9996,"logo_path":"/3tvBqYsBhxWeHlu62SIJ1el93O7.png","name":"Syncopy","origin_country":"GB"},{"id":429,"logo_path":"/4Y00XuSMuP1gimd0jP6JT57QbCI.png","name":"DC","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2008-07-16","revenue":1004558444,"runtime":152,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Mandarin","iso_639_1":"zh","name":"普通话"}],"status":"Released","tagline":"Welcome
        to a world without rules.","title":"The Dark Knight","video":false,"vote_average":8.519,"vote_count":33630}'
  recorded_at: Mon, 31 Mar 2025 18:14:40 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/155/credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 40da577bcc2744c979908d7ce808d9ef
      X-Memc-Age:
      - '4858'
      X-Memc-Expires:
      - '20960'
      Etag:
      - W/"d71cb953349a1f014ce1123d07fa63bf"
    body:
      encoding: UTF-8
      string: '{"id":155,"cast":[{"adult":false,"gender":2,"id":3894,"known_for_department":"Acting","name":"Christian
        Bale","original_name":"Christian Bale","popularity":2.1963,"profile_path":"/7Pxez9J8fuPd2Mn9kex13YALrCQ.jpg","cast_id":35,"character":"Bruce
        Wayne","credit_id":"52fe4220c3a36847f8005d17","order":0},{"adult":false,"gender":2,"id":1810,"known_for_department":"Acting","name":"Heath
        Ledger","original_name":"Heath Ledger","popularity":1.7649,"profile_path":"/5Y9HnYYa9jF4NunY9lSgJGjSe8E.jpg","cast_id":3,"character":"Joker","credit_id":"52fe421fc3a36847f8005cbf","order":1},{"adult":false,"gender":2,"id":6383,"known_for_department":"Acting","name":"Aaron
        Eckhart","original_name":"Aaron Eckhart","popularity":1.6843,"profile_path":"/u5JjnRMr9zKEVvOP7k3F6gdcwT6.jpg","cast_id":15,"c[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/155/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5c69b6a9d5dcfbf6656eec87bdbdf927
      X-Memc-Age:
      - '8799'
      X-Memc-Expires:
      - '15940'
      Etag:
      - W/"aa553482d5d6bfe57d4d652b4f6896ff"
    body:
      encoding: UTF-8
      string: '{"id":155,"page":1,"results":[{"author":"tricksy","author_details":{"name":"","username":"tricksy","avatar_path":null,"rating":null},"content":"Excellent
        movie. Best of the trilogy. Lovely music. Nolan is a genius. So is Heath Ledger.","created_at":"2015-06-09T07:21:30.464Z","id":"557693fac3a368569a003fab","updated_at":"2021-06-23T15:57:35.053Z","url":"https://www.themoviedb.org/review/557693fac3a368569a003fab"},{"author":"talisencrw","author_details":{"name":"","username":"talisencrw","avatar_path":null,"rating":10.0},"content":"This
        has no competition. It is the very finest comic-book character movie ever
        made. Knowing the Burton, Donner and Nolan filmic adaptations of Batman and
        Superman exist helps me to sleep at night. They are Exhibit A of ''How to
        Make a Comic-Book Movie''. Nothing else has ever come eve[...]
